.section {
  padding: 5vw 11vw;
  .title {
    font: var(--font-roboto-bold);
    color: var(--color-burnt-orange);
    font-size: 2vw;
  }
  .columns {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 3vw;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    .column {
      .content {
        .rich-text {
          color: inherit;
        }
        .image {
          width: 25%;
        }
        .video-container {
          position: relative;
          padding-top: 56.25%;
          margin: 1vw;
          .video {
            position: absolute;
            top: 0;
            left: 0;
          }
        }
        .video-label {
          color: inherit;
          padding: 0 1vw;
        }
      }
    }
  }
}