.search {
  background-color: var(--color-ocean-green);
  width: 2.5vw;
  height: 3vw;
  border-radius: 1.5vw 0 0 1.5vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  transition: width 0.2s;
  .icon {
    margin-bottom: 0;
    margin-left: .75vw;
    width: 1.4vw;
  }
  &:hover {
    width: 3.5vw;
  }
}