.section {
  background-color: var(--secondary-text-color);
  color: var(--primary-background-color);
  height: var(--main-height);
  overflow: hidden;
  min-height: 0;
  min-width: 0;
  display: grid;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  .contact-form {
    display: grid;
    justify-content: center;
    max-width: 940px;
    .title {
      font-size: 3.44rem;
      font-weight: 700;
      text-align: center;
      margin-bottom: 2vw;
    }
    .subtitle {
      font-size: 2.05rem;
      font-weight: 700;
      text-align: center;
    }
    .form {
      padding-top: 6vw;
      display: grid;
      font-size: 1.2rem;
      justify-content: center;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto;
      grid-auto-flow: rows;
      grid-gap: 3rem 4rem;
      .input-fieldset {
        display: grid;
        .name-label, .method-label {
          margin-left: 1.5rem;
          margin-bottom: 1rem;
        }
        .name, .method {
          width: 100%;
          font-size: 4rem;
          border-radius: 4rem;
          border: none;
        }
        .method-container {
          display: grid;
          grid-auto-flow: column;
          .method-dropdown {
            width: 6.4rem;
            border-radius: 4rem 0 0 4rem;
            background-color: var(--primary-text-color);
          }
          .method {
            width: 100%;
            border-radius: 0 4rem 4rem 0;
          }
        }
      }
      .button {
        background-color: var(--primary-text-color);
        border-radius: 2.5rem;
        height: 5rem;
        width: 100%;
      }
    }
  }
}