.section {
  overflow: hidden;
  padding: 5vw;
  min-height: 0;
  min-width: 0;
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: 3.5vw;
  grid-auto-flow: column;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  gap: 10vw;
  .image {
    width: 100%;
    margin-bottom: 0;
  }
  .link {
    display: grid;
  }
}